<div class="row wrapper borde0r-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Home</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a>H.O.D</a>
      </li>
      <li class="active">
        <strong>Home</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-9">
      <div class="row m-t-lg">
        <div class="col-lg-12">
          <div class="ibox float-e-margins">
            <div class="ibox-content">
              <div class="feed-activity-list">

                <div class="feed-element">
                  <div>
                    <small class="pull-right text-navy">In Class</small>
                    <strong>Monica Smith</strong>
                    <div>Class-1, Branch-1</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>

                <div class="feed-element">
                  <div>
                    <small class="pull-right text-navy">In Class</small>
                    <strong>Jogn Angel</strong>
                    <div>Class-1, Branch-2, Practical Lab</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:30 pm</small>
                  </div>
                </div>

                <div class="feed-element">
                  <div>
                    <small class="pull-right text-success">Free</small>
                    <strong>Jesica Ocean</strong>
                    <div>Class-3, Branch-1</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>

                <div class="feed-element">
                  <div>
                    <small class="pull-right text-success">Free</small>
                    <strong>Monica Jackson</strong>
                    <div>Class-4, Branch-2</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>


                <div class="feed-element">
                  <div>
                    <small class="pull-right text-danger">Absent</small>
                    <strong>Anna Legend</strong>
                    <div>Class-5, Branch-2</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>
                <div class="feed-element ">
                  <div>
                    <small class="pull-right text-danger">Absent</small>
                    <strong>Damian Nowak</strong>
                    <div>Class-1, Branch-1</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>
                <div class="feed-element ">
                  <div>
                    <small class="pull-right text-danger">Absent</small>
                    <strong>Gary Smith</strong>
                    <div>Class-1, Branch-1</div>
                    <small class="text-muted">Time Duration: 8:00 pm - 9:00 pm</small>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="widget style1 navy-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-hand-o-right fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Verify attendance</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 lazur-bg " style="background: #66cc00 !important;">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Verify Marks</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 yellow-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-music fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Verify Marks</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 lazur-bg">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-users fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Subject Allocation</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 yellow-bg" style="background: #b366ff !important;">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Cancel Class work</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 lazur-bg" style="background:#00bfff !important;">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-male fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Approve Attendance</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 yellow-bg" style="background:  #ff66ff !important;">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-trophy fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">Call for meeting</h3>
          </div>
        </div>
      </div>
      <div class="widget style1 navy-bg" style="background: #ff3377 !important;">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-envelope-o fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <h3 class="font-bold">View Student Details</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascript do %>

    <script type="text/javascript">


        $(function() {

            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084' },
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var data2 = [
                { label: "Data 1", data: d1, color: '#19a0a1' }
            ];
            $.plot($("#flot-chart2"), data2, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            var data3 = [
                { label: "Data 1", data: d1, color: '#fbbe7b' },
                { label: "Data 2", data: d2, color: '#f8ac59' }
            ];
            $.plot($("#flot-chart3"), data3, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            var mapData = {
                "US": 498,
                "SA": 200,
                "CA": 1300,
                "DE": 220,
                "FR": 540,
                "CN": 120,
                "AU": 760,
                "BR": 550,
                "IN": 200,
                "GB": 120,
                "RU": 2000
            };

            $('#world-map').vectorMap({
                map: 'world_mill_en',
                backgroundColor: "transparent",
                regionStyle: {
                    initial: {
                        fill: '#e4e4e4',
                        "fill-opacity": 1,
                        stroke: 'none',
                        "stroke-width": 0,
                        "stroke-opacity": 0
                    }
                },
                series: {
                    regions: [{
                        values: mapData,
                        scale: ["#1ab394", "#22d6b1"],
                        normalizeFunction: 'polynomial'
                    }]
                },
            });

        });

    </script>

<% end %>
